// HEADER

header {
    background: url(../images/banner-image.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    
    &__heading {
        @include primaryFont(7rem, $fontColorLight);
        text-transform: uppercase;
        font-weight: 600; 

        &--blue {
            color: $primaryColor;
        }
    }

    &__subheading {
        @include primaryFont(3rem, $fontColorLight);
        font-weight: 300;
        padding-bottom: 60px;
    }

    &__text {
        @include primaryFont(2rem, $fontColorLight);
        font-weight: 300;
    }

    &__form {
        display: flex;
        flex-direction: column;

        &--input {
            @include primaryFont(2rem, #86888A);
            background: #fcfcfc;
            padding: 13px 130px;
            text-transform: uppercase;
            border: none;
            border-radius: 50px;
            text-align: center;
            margin-top: 15px;
        }

        &--btn {
            @include globalBtn;
            margin-top: 15px;
            align-self: center;
        }
    }
}

// RESULTS
.results {
    background: $accentColor;
    display: flex;
    // display: none;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 58px);
    &--active{
        display: flex;
    }
}

.content-container {
    background: #1B1F38;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    &__title {
        @include primaryFont(3rem, $primaryColor);
        text-transform: uppercase;
        padding-bottom: 20px;
    }

    &__text {
        @include primaryFont(1.8rem, $fontColorLight);
        line-height: 1.6;
    }

    &__rating {
        @include primaryFont(2rem, $primaryColor);
        padding-top: 30px;
    }

    &__img {
        padding-top: 25px;
    }

    &__button {
        @include globalBtn;
        margin-top: 15px;
        align-self: center;
        float: right;
    }

    &__left {
        flex: 1 1 30%;
        &--img {
            width: 100%;
            height: auto;
            max-width: 100%;
            margin: 0 auto;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #fcfcfc;
        }
    }

    &__right {
        flex: 1 1 70%;
    }

    &__left,
    &__right {
        padding: 30px;
    }
}

.video {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: linear-gradient(rgba(0,0,0,0.8));
    .video-container {
        margin: auto;
        position: relative; 
        position: relative;
        padding-top: 480px;
        // padding-top: 35px;
        // height: 0;
        overflow: hidden;    
        width: 854px;
        // max-width: 600px;  
    }
    //The IFRAME
    .video-trailer {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &--active{
        display: flex;
    }
}

// FOOTER

footer {
    background: #1B1F38;
}

.footer-text {
    @include primaryFont(1.8rem, $fontColorLight);
    padding: 20px 0;
    text-align: center;
}

// MEDIA QUERIES

@media(max-width: 1000px) {
    .wrapper {
        width: 90%;
    }

    .hero {
        
        &__heading {
            @include primaryFont(6rem, $fontColorLight);
        }

        &__subheading {
            padding-bottom: 50px;
        }

        &__text {
            max-width: 500px;
        }

        &__form {

            &--input {
                margin-top: 10px;
            }
        }
    }

    // RESULTS
    .content-container {
        padding: 20px;

        &__title {
            @include primaryFont(2.5rem, $primaryColor);
        }

        &__left,
        &__right {
            padding: 15px;
        }

        &__left {
            flex: 1 1 40%;
        }

        &__right {
            flex: 1 1 60%;
        }

        &__button {
            font-size: 1.8rem;
            padding: 13px 40px;
        }
    }
    // FOOTER
    .footer-text {
        @include primaryFont(1.3rem, $fontColorLight);
    }
}

@media(max-width: 845px) {
    .hero {
        &__form {

            &--input {
                padding: 13px 80px;
                margin-top: 10px;
            }
        }
    }
    // RESULTS
    .content-container {
        margin: 50px 0;
        padding: 20px;

        &__title {
            @include primaryFont(2.5rem, $primaryColor);
        }

        &__text {
            @include primaryFont(1.4rem, $fontColorLight);
            line-height: 1.6;
        }

        &__left,
        &__right {
            padding: 15px;
        }

        &__left {
            flex: 1 1 40%;
        }

        &__right {
            flex: 1 1 60%;
        }

        &__button {
            font-size: 1.8rem;
            padding: 13px 40px;
        }
    }
}

@media (max-width: 665px) {
    .hero {
        &__heading {
            @include primaryFont(4rem, $fontColorLight);
        }

        &__subheading {
            @include primaryFont(2.5rem, $fontColorLight);
            padding-bottom: 30px;
        }

        &__text {
            @include primaryFont(1.5rem, $fontColorLight);
        }

        &__form {

            &--input {
                margin-top: 15px;
            }
        }
    }

    // RESULTS
    .content-container {
        padding: 20px;

        &__title {
            @include primaryFont(2.5rem, $primaryColor);
        }

        &__left,
        &__right {
            padding: 15px;
        }

        &__left {
            flex: 1 1 40%;
        }

        &__right {
            flex: 1 1 60%;
        }

        &__button {
            font-size: 1.8rem;
            padding: 13px 40px;
        }
    }
    // FOOTER
    .footer-text {
        @include primaryFont(1.3rem, $fontColorLight);
    }
}

@media(max-width: 845px) {
    .hero {
        &__form {

            &--input {
                @include primaryFont(1.5rem, #86888A);
                text-transform: uppercase;
                border: none;
                border-radius: 50px;
                text-align: center;
                padding: 13px 60px;
                margin-top: 10px;
            }

            &--btn {
                font-size: 1.5rem;  
                padding: 13px 50px;
            }    
        }
    }
    // RESULTS
    .content-container {

        &__button {
            font-size: 1.5rem;
            padding: 13px 40px;
        }
    } 
}

@media (max-width: 625px) {
// RESULTS
    .results {
        height: initial;
    }
    .content-container {
        margin: 50px;

        &__left {
            flex: 1 1 100%;
            &--img {
                width: 80%;
            }
        }

        &__right {
            flex: 1 1 100%;
        }

        &__left,
        &__right {
            padding: 20px;
        }
    }
}

@media(max-width: 854px){
    div.video .video-container {
        padding-top: 56.25%;
    }
}
@media (max-width: 400px) {
    .content-container {
        margin: 30px;
        padding: 0;

        &__button {
            font-size: 1.5rem;
            padding: 13px 40px;
        }
    } 
}

//ANIMATION
@keyframes fall {
    0% {
        top: 0;

    }
    100% {
        top: 2000%;
    }
}   

.animate {
    position: relative;
    color: $primaryColor;
    animation: fall 3s ease-in 1;
}

// Then I added this right under the scroll function
//  $(".hero__heading--blue").addClass('.animate');









