// HEADER

header {
    background: url(../images/banner-image.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    
    &__heading {
        @include primaryFont(9rem, $fontColorLight);
        text-transform: uppercase;
        font-weight: 500;  

        &--blue {
            color: $primaryColor;
        }
    }

    &__subheading {
        @include primaryFont(3.5rem, $fontColorLight);
        font-weight: 300;
        padding-bottom: 100px;
    }

    &__text {
        @include primaryFont(2.5rem, $fontColorLight);
        font-weight: 300;
        max-width: 600px;
    }

    &__form {
        display: flex;
        flex-direction: column;

        &--input {
            @include primaryFont(2rem, #86888A);
            background: #fcfcfc;
            padding: 15px 150px;
            // text-transform: uppercase;
            border: none;
            border-radius: 50px;
            text-align: center;
            margin-top: 30px;

        }

        &--btn {
            @include globalBtn;
            margin-top: 15px;
            align-self: center;
        }
    }
}

// RESULTS
.results {
    background: $accentColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container {
    background: #1B1F38;
    margin: 205px auto;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 30px 50px 50px 50px;

    &__title {
        @include primaryFont(3rem, $primaryColor);
        text-transform: uppercase;
        padding: 20px 0;
    }

    &__text {
        @include primaryFont(2rem, $fontColorLight);
        line-height: 1.5;
        padding-right: 10px;
    }

    &__rating {
        @include primaryFont(2rem, $primaryColor);
        padding-top: 30px;
    }

    &__img {
        padding-top: 30px;
    }

    &__button {
        @include globalBtn;
        margin-top: 15px;
        align-self: center;
        margin-right: 40px;
        float: right;
    }

    &__left {
        flex: 1 1 50%;
        &--img {
            position: absolute;
            top: -60px;
            left: 50px;
            box-shadow: 10px 10px 13px #0E0F1F;
        }
    }

    &__right {
        flex: 1 1 50%;
    }
}

// FOOTER

footer {
    background: #1B1F38;
}

.footer-text {
    @include primaryFont(1.8rem, $fontColorLight);
    padding: 20px 0;
    text-align: center;
}

// MEDIA QUERIES

// HEADER
@media(max-width: 1134px) {
    .hero {
        
        &__heading {
            @include primaryFont(8rem, $fontColorLight);  
        }

        &__subheading {
            @include primaryFont(3rem, $fontColorLight);
            padding-bottom: 80px;
        }

        &__text {
            @include primaryFont(2rem, $fontColorLight);
            max-width: 700px;
        }

        &__form {

            &--input {
                margin-top: 15px;

            }
        }
    }

// RESULTS

    .content-container {
        padding: 30px;

        &__text {
            padding-right: 0px;
        }

        &__rating {
            padding: 20px 25px 0 0;
            float: left;
        }

        &__img {
            padding-top: 20px;
        }

        &__button {
            float: left;
        }

        &__left {
            flex: 1 1 50%;
            padding: 15px;
            &--img {
                position: initial;
                width: 100%;
                display: block;
            }
        }

        &__right {
            flex: 1 1 50%;
            padding: 15px;
        }
    }

}



