article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.8rem; }

ul, li {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  width: 80%; }

header {
  background: url(../images/banner-image.png) no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center; }

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0; }
  .hero__heading {
    font-family: 'Raleway', sans-serif;
    color: #fcfcfc;
    letter-spacing: 1px;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 600; }
    .hero__heading--blue {
      color: #3BC8E6; }
  .hero__subheading {
    font-family: 'Raleway', sans-serif;
    color: #fcfcfc;
    letter-spacing: 1px;
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 60px; }
  .hero__text {
    font-family: 'Raleway', sans-serif;
    color: #fcfcfc;
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: 300; }
  .hero__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .hero__form--input {
      font-family: 'Raleway', sans-serif;
      color: #86888A;
      letter-spacing: 1px;
      font-size: 2rem;
      background: #fcfcfc;
      padding: 13px 130px;
      text-transform: uppercase;
      border: none;
      border-radius: 50px;
      text-align: center;
      margin-top: 15px; }
    .hero__form--btn {
      font-family: 'Raleway', sans-serif;
      color: #fcfcfc;
      letter-spacing: 1px;
      font-size: 2rem;
      background: #3BC8E6;
      padding: 13px 50px;
      text-transform: uppercase;
      border: none;
      border-radius: 50px;
      margin-top: 15px;
      -ms-flex-item-align: center;
      align-self: center; }
      .hero__form--btn:hover {
        background: #15172B; }

.results {
  background: #15172B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: calc(100vh - 58px); }

.content-container {
  background: #1B1F38;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px; }
  .content-container__title {
    font-family: 'Raleway', sans-serif;
    color: #3BC8E6;
    letter-spacing: 1px;
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 20px; }
  .content-container__text {
    font-family: 'Raleway', sans-serif;
    color: #fcfcfc;
    letter-spacing: 1px;
    font-size: 1.8rem;
    line-height: 1.6; }
  .content-container__rating {
    font-family: 'Raleway', sans-serif;
    color: #3BC8E6;
    letter-spacing: 1px;
    font-size: 2rem;
    padding-top: 30px; }
  .content-container__img {
    padding-top: 25px; }
  .content-container__button {
    font-family: 'Raleway', sans-serif;
    color: #fcfcfc;
    letter-spacing: 1px;
    font-size: 2rem;
    background: #3BC8E6;
    padding: 13px 50px;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    margin-top: 15px;
    -ms-flex-item-align: center;
    align-self: center;
    float: right; }
    .content-container__button:hover {
      background: #15172B; }
  .content-container__left {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%; }
    .content-container__left--img {
      width: 100%;
      height: auto;
      max-width: 100%;
      margin: 0 auto;
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-box-shadow: 12px 12px 12px #0E0F1F;
      box-shadow: 12px 12px 12px #0E0F1F; }
  .content-container__right {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%; }
  .content-container__left, .content-container__right {
    padding: 30px; }

.video {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.8));
  background: linear-gradient(rgba(0, 0, 0, 0.8)); }
  .video .video-container {
    margin: auto;
    position: relative; }
  .video--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

footer {
  background: #1B1F38; }

.footer-text {
  font-family: 'Raleway', sans-serif;
  color: #fcfcfc;
  letter-spacing: 1px;
  font-size: 1.8rem;
  padding: 20px 0;
  text-align: center; }

@media (max-width: 1000px) {
  .wrapper {
    width: 90%; }
  .hero__heading {
    font-family: 'Raleway', sans-serif;
    color: #fcfcfc;
    letter-spacing: 1px;
    font-size: 6rem; }
  .hero__subheading {
    padding-bottom: 50px; }
  .hero__text {
    max-width: 500px; }
  .hero__form--input {
    margin-top: 10px; }
  .content-container {
    padding: 20px; }
    .content-container__title {
      font-family: 'Raleway', sans-serif;
      color: #3BC8E6;
      letter-spacing: 1px;
      font-size: 2.5rem; }
    .content-container__left, .content-container__right {
      padding: 15px; }
    .content-container__left {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
      flex: 1 1 40%; }
    .content-container__right {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
      flex: 1 1 60%; }
    .content-container__button {
      font-size: 1.8rem;
      padding: 13px 40px; }
  .footer-text {
    font-family: 'Raleway', sans-serif;
    color: #fcfcfc;
    letter-spacing: 1px;
    font-size: 1.3rem; } }

@media (max-width: 845px) {
  .hero__form--input {
    padding: 13px 80px;
    margin-top: 10px; }
  .content-container {
    margin: 50px 0;
    padding: 20px; }
    .content-container__title {
      font-family: 'Raleway', sans-serif;
      color: #3BC8E6;
      letter-spacing: 1px;
      font-size: 2.5rem; }
    .content-container__text {
      font-family: 'Raleway', sans-serif;
      color: #fcfcfc;
      letter-spacing: 1px;
      font-size: 1.4rem;
      line-height: 1.6; }
    .content-container__left, .content-container__right {
      padding: 15px; }
    .content-container__left {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
      flex: 1 1 40%; }
    .content-container__right {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
      flex: 1 1 60%; }
    .content-container__button {
      font-size: 1.8rem;
      padding: 13px 40px; } }

@media (max-width: 665px) {
  .hero__heading {
    font-family: 'Raleway', sans-serif;
    color: #fcfcfc;
    letter-spacing: 1px;
    font-size: 4rem; }
  .hero__subheading {
    font-family: 'Raleway', sans-serif;
    color: #fcfcfc;
    letter-spacing: 1px;
    font-size: 2.5rem;
    padding-bottom: 30px; }
  .hero__text {
    font-family: 'Raleway', sans-serif;
    color: #fcfcfc;
    letter-spacing: 1px;
    font-size: 1.5rem; }
  .hero__form--input {
    margin-top: 15px; }
  .content-container {
    padding: 20px; }
    .content-container__title {
      font-family: 'Raleway', sans-serif;
      color: #3BC8E6;
      letter-spacing: 1px;
      font-size: 2.5rem; }
    .content-container__left, .content-container__right {
      padding: 15px; }
    .content-container__left {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
      flex: 1 1 40%; }
    .content-container__right {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
      flex: 1 1 60%; }
    .content-container__button {
      font-size: 1.8rem;
      padding: 13px 40px; }
  .footer-text {
    font-family: 'Raleway', sans-serif;
    color: #fcfcfc;
    letter-spacing: 1px;
    font-size: 1.3rem; } }

@media (max-width: 845px) {
  .hero__form--input {
    font-family: 'Raleway', sans-serif;
    color: #86888A;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    text-align: center;
    padding: 13px 60px;
    margin-top: 10px; }
  .hero__form--btn {
    font-size: 1.5rem;
    padding: 13px 50px; }
  .content-container__button {
    font-size: 1.5rem;
    padding: 13px 40px; } }

@media (max-width: 625px) {
  .results {
    height: initial; }
  .content-container {
    margin: 50px; }
    .content-container__left {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%; }
      .content-container__left--img {
        width: 80%; }
    .content-container__right {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%; }
    .content-container__left, .content-container__right {
      padding: 20px; } }

@media (max-width: 400px) {
  .content-container {
    margin: 30px;
    padding: 0; }
    .content-container__button {
      font-size: 1.5rem;
      padding: 13px 40px; } }
